#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    // ... (Phần default_transform và kscan0 giữ nguyên)

    kscan_mcp_impl: kscan_mcp_impl {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            // ... (các hàng từ 4 đến 9)
            ;
        col-gpios
            = <&mcp23017 0 GPIO_ACTIVE_HIGH>
            // ... (các cột từ 0 đến 15)
            ;
    };
};

/* PHẦN NÀY PHẢI NẰM NGOÀI DẤU NGOẶC CỦA / { ... }; */
&pro_micro_i2c {
    status = "okay";
    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp230xx";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
        status = "okay";
    };
};