if SHIELD_FILCO_BT

config ZMK_KEYBOARD_NAME
    default "Filco Wireless"

# Ép hệ thống nạp driver MCP230xx
config I2C
    default y

config GPIO
    default y

config GPIO_MCP230XX
    default y

endif