if SHIELD_FILCO_BT

config ZMK_KEYBOARD_NAME
    default "Filco Wireless"

# ÉP NẠP DRIVER TRỰC TIẾP VÀO SHIELD
config I2C
    status y

config GPIO
    status y

config GPIO_MCP230XX
    default y

config ZMK_KSCAN_COMPOSITE
    default y

endif