name: Build ZMK Firmware

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build Firmware
        uses: zmkfirmware/zmk-build-action@v2
        with:
          board: nice_nano_v2
          shield: filco_majestouch_tkl
          directory: config
          artifact-name: firmware
