name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y git python3 python3-pip python3-venv \
            gcc-arm-none-eabi cmake ninja-build device-tree-compiler dtc xz-utils build-essential

      - name: Install west
        run: pip3 install --upgrade west

      - name: Init west and update
        run: |
          west init -l
          west update
          west zephyr-export || true

      - name: Build
        run: |
          BOARD=nice_nano
          SHIELD=filco_bt
          rm -rf build
          west build -s zmk/app -b ${BOARD} -d build -- -DSHIELD=${SHIELD} -DZMK_CONFIG=./config

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: zmk-firmware
          path: build/zephyr/zephyr.hex
