name: Build ZMK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        id: build
        uses: docker://zmkfirmware/zmk-build-arm:3.2
        with:
          args: |
            /bin/bash -c "
            cd /workspace
            git clone --depth 1 https://github.com/zmkfirmware/zmk.git zmk
            cd zmk
            west init -l app/
            west update
            west build -b nice_nano app -- -DSHIELD=filco_majestouch_tkl -DZMK_CONFIG=/workspace/config
            mkdir -p /workspace/firmware
            cp build/zephyr/zmk.uf2 /workspace/firmware/filco_tkl.uf2
            "

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: firmware/
