name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr export
        run: west zephyr-export

      - name: West Build
        run: |
          west build -p always -s zmk/app -b nice_nano -- \
          -DSHIELD=filco_bt \
          -DZMK_CONFIG="${GITHUB_WORKSPACE}/config" \
          -DEXTRA_DTS_BINDINGS="${GITHUB_WORKSPACE}/config/dts/bindings"
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.uf2
