name: Build ZMK Firmware

on:
  push:
    paths:
      - ".github/workflows/build.yml"
      - "config/**"
      - "boards/shields/**"
      - "build.yaml"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ZMK
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: ZMK Build Action
        uses: zmkfirmware/zmk-build-action@v3
        with:
          build_matrix_path: "build.yaml"
          config_path: "config"

      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.uf2
          retention-days: 5
