name: Build ZMK Firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ZMK
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZMK Build Action
        # Sử dụng bản v2 hoặc v3 chính xác từ zmkfirmware
        uses: zmkfirmware/zmk-build-action@v2
        with:
          build_matrix_path: "build.yaml"
          config_path: "config"

      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.uf2
